




{% block sidebar %}
{% set title_tag = title_tag|default('h4') %}
{{ block('urls') }}
{% set title_tag = 'h3' %}

{{ block('simple_search') }}
{{ block('sidebar_taxonomy') }}
{{ block('sidebar_topictags') }}
{{ block('related_pages') }}
{{ block('random_page') }}
{{ block('archives') }}
{{ block('feed') }}
{% endblock %}





{% block simple_search %}
{% if config.plugins.simplesearch.enabled %}
<div class="sidebar-content">
    <{{ title_tag }}>{{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.SEARCH_TITLE"|t }}</{{ title_tag }}>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}
{% endblock %}

{% block sidebar_taxonomy %}
{% if config.plugins.taxonomylist.enabled %}
<div class="sidebar-content">
    <{{ title_tag }}>{{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.POPULAR_TAGS"|t }}</{{ title_tag }}>

    {% set taxonomy = "tag" %}
    {% set taxlist = taxonomylist.get() %}
    {% if taxlist %}
    <span class="tags">
        {% for tax,value in taxlist[taxonomy] %}
            {% set active = uri.param(taxonomy) == tax ? ' active' : '' %}
            <a class="btn btn-primary tags-cloud{{ active }}" href="{{ blog_base_url }}/{{ taxonomy }}{{ config.system.param_sep }}{{ tax|e('url') }}">{{ tax }}</a>
        {% endfor %}
    </span>
    {% endif %}
</div>
{% endif %}
{% endblock %}



{% block sidebar_topictags %}
{% if config.plugins.topicmenu.enabled %}
<div class="sidebar-content">
    <{{ title_tag }}>{{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.TOPIC_TAGS"|t }}</{{ title_tag }}>

    {% for taxlist in topics_tags %}
    <span class="tags">
        {% for count,value in taxlist %}
            <a class="btn btn-primary tags-cloud" href="{{ blog_base_url }}/tag:{{ value }}">
                {{ value }}
            </a>
        {% endfor %}
    </span>
    {% endfor %}
</div>
{% endif %}
{% endblock %}

{% block related_pages %}
{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
    <{{ title_tag }}>{{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.RELATED_POSTS"|t }}</{{ title_tag }}>
    {% include 'partials/relatedpages.html.twig' %}
{% endif %}
{% endblock %}

{% block random_page %}
{% if config.plugins.random.enabled %}
<div class="sidebar-content">
    <{{ title_tag }}>{{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.RANDOM_ARTICLE"|t }}</{{ title_tag }}>
    <a class="button" href="{{ base_url_relative }}/random"><i class="fa fa-retweet"></i> {{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.FEEL_LUCKY"|t }}</a>
</div>
{% endif %}
{% endblock %}



{% block archives %}
{% if config.plugins.archives.enabled %}
<div class="sidebar-content">
    <{{ title_tag }}>{{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.ARCHIVES"|t }}</{{ title_tag }}>
  <ul class="archives">
    {% for month,items in archives_data %}
        <li><a href="{{ blog_base_url }}/archives_month{{ config.system.param_sep }}{{ month|date('M_Y')|lower|e('url') }}">
            {% if archives_show_count %}
            <span class="badge">{{ items|length }}</span>
            {% endif %}
            <span class="archive_date">{{ month }}</span>
            </a></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}

{% block feed %}
{% if config.plugins.feed.enabled %}
<div class="sidebar-content">
    <{{ title_tag }}>{{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.SYNDICATE"|t }}</{{ title_tag }}>
    <div class="btn-group">
        <a class="btn btn-warning" href="{{ blog_feed_url }}.atom"><i class="fa fa-rss-square"></i> {{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.ATOM"|t }}</a>
        <a class="btn btn-warning" href="{{ blog_feed_url }}.rss"><i class="fa fa-rss-square"></i> {{ "PLUGIN_BLOG_INJECTOR.TEMPLATES.RSS"|t }}</a>
    </div>
</div>
{% endif %}
{% endblock %}
